/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #f82249;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #f94a6a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header.header-scrolled,
#header.header-inner {
  background: rgba(6, 12, 34, 0.98);
  height: 70px;
}
#header .size {
  width: 65%;
  padding: 10px;
}
.index {
  z-index: 1;
}

/*--------------------------------------------------------------
# Buy Tickets
--------------------------------------------------------------*/

.buy-tickets {
  color: #fff;
  background: #f82249;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  line-height: 1;
  font-size: 13px;
  white-space: nowrap;
  text-decoration: none;
}
.buy-tickets:hover {
  background: none;
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar a {
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  padding: 6px 4px;
  text-decoration: none;
  margin-left: 12px;
}
.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #fff;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}
.content a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f82249;
  transition: all 0.3s ease-in-out 0s;
  bottom: -3px;
  left: 1px;
}

.content a:hover:before {
  visibility: visible;
  width: 100%;
}
a:hover {
  color: #fff;
  transition: 0.5s;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero .img {
  background-image: url(./assets/img/hero-bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
#hero .img:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

#hero .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
  border-left: 15px solid #f82249;
  transform: scale(20);
}

#hero .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
#hero .angle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero .About-the-event {
  color: #fff;
  background: none;
  padding: 8px 25px;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
}
#hero .About-the-event:hover {
  background: #f82249;
  color: #fff;
}
#hero .heading {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
}

#hero .overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero .color {
  color: #f82249;
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about .about-bg {
  background-image: url(./assets/img/about-bg.jpg);
  height: auto;
  width: auto;
  background-attachment: fixed;
}

.pragraph {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

.text-style {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}
.pragraph-style {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
  padding: 0;
  margin: 0 0 30px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.red-content::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
  top: 40;
}

/*--------------------------------------------------------------
# Speakers Section
--------------------------------------------------------------*/
.speaker {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.speaker .details {
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: 0.5s;
}
.speaker .details h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.speaker .details .social {
  height: 40px;
}
.speaker .details .social i {
  line-height: 0;
  margin: 0 2px;
}
.speaker .details a {
  color: #fff;
  text-decoration: none;
}
.speaker .details a:hover {
  color: #f82249;
}
.speaker:hover .details {
  bottom: 0;
}
.details {
  position: absolute;
}

.details h2 {
  color: #112363;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/

.sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin-top: 40px;
}

.nav-pills .nav-link {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
  margin-left: 10px;
}

.nav-pills .nav-link.active {
  background-color: #f82249;
  color: #fff;
}
.schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}
.schedule-item:hover {
  background-color: #fff;
}
.schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}
.schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}
.schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}
.schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}
.schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}
.sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #0e1b4d;
  font-weight: normal;
}
/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
.venue-info {
  background: url(./assets/img/venue-info-bg.jpg) top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.venue-info:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.venue-info p {
  color: #fff;
  margin-bottom: 0;
}
.venue-gallery-container {
  padding-right: 12px;
}
.venue-gallery {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.venue-gallery img {
  transition: all ease-in-out 0.4s;
}
.venue-gallery:hover img {
  transform: scale(1.1);
}
.venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
/*--------------------------------------------------------------
# Hotels Section
--------------------------------------------------------------*/

.hotel {
  border: 1px solid #e0e5fa;
  background: #fff;
  margin-bottom: 30px;
}

.hotel:hover .hotel-img img {
  transform: scale(1.1);
}

.hotel-img {
  overflow: hidden;
  margin-bottom: 15px;
}

.hotel-img img {
  transition: 0.3s ease-in-out;
}
.stars {
  margin-bottom: 5px;
}
.stars i {
  color: #ffc31d;
}
.hotel a {
  color: #152b79;
  text-decoration: none;
}
.hotel a:hover {
  color: #f82249;
}
#red-content::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
  top: 10;
}
/*--------------------------------------------------------------
# Sponsors Section
--------------------------------------------------------------*/
.supporter-logo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e0e5fa;
  border-bottom: 1px solid #e0e5fa;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  height: 160px;
}
.supporter-logo:hover img {
  transform: scale(1.2);
}
img {
  transition: all 0.4s ease-in-out;
}
/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/

.faq-list {
  padding: 0;
  list-style: none;
}
.faq-list li {
  border-bottom: 1px solid #e9eaed;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.faq-list .question {
  display: block;
  position: relative;
  font-family: #f82249;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #e0072f;
  transition: 0.3s;
}
.faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}
.faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}
.faq-list .icon-show {
  display: none;
}
.faq-list .collapsed {
  color: black;
}
.faq-list .collapsed:hover {
  color: #f82249;
}
.faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}
.faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}
/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f82249;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f82249;
}
.swiper-slide-active {
  text-align: center;
}
.swiper-slide-active {
  border: 5px solid #f82249;
  padding: 4px;
  background: #fff;
  z-index: 1;
  transform: scale(1.15);
  margin-top: 6px;
}
.swiper-wrapper {
  padding: 40px 0;
  height: initial;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/
#subscribe {
  padding: 60px;
  background: url(./assets/img/subscribe-bg.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
#subscribe::before {
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#subscribe .section-header h1,
#subscribe h4 {
  color: #fff;
  text-align: center;
}
#subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}
.form-group *,
::after,
::before {
  box-sizing: border-box;
}
#subscribe button {
  border: 0;
  padding: 9px 25px;
  cursor: pointer;
  background: #f82249;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
  margin-top: 22;
}
#subscribe button:hover {
  background: #e0072f;
}
#subscribe {
  background-attachment: fixed;
}
.hello > * {
  padding-left: 0px;
  padding-right: 0px;
  z-index: 1;
}
/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/

.card {
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}
.card:hover {
  box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}
.card hr {
  margin: 25px 0;
}
.card .card-title {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
.card .card-price {
  font-size: 48px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #0e1b4d;
}
.card ul li {
  margin-bottom: 20px;
}
.card .text-muted {
  opacity: 0.7;
}
.card .btn {
  font-size: 15px;
  border-radius: 50px;
  padding: 10px 40px;
  transition: all 0.2s;
  background-color: #f82249;
  border: 0;
  color: #fff;
}
.card .btn:hover {
  background-color: #e0072f;
}
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.contact-info {
  margin-bottom: 20px;
  text-align: center;
}
.contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #f82249;
}
.contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #112363;
}
.contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}
.contact-info a {
  color: #4869df;
  text-decoration: none;
}
.contact-info a:hover {
  color: #f82249;
}
.contact-address,
.contact-phone,
.contact-email {
  margin-bottom: 20px;
}
.contact-address,
.contact-phone,
.contact-email {
  padding: 20px 0;
}
.contact-phone {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.php-email-form button[type="submit"] {
  background: #f82249;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
}
.php-email-form button[type="submit"]:hover {
  background: #e0072f;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-links h4 {
  padding: 2px 0 20px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-contact h4 {
  padding: 2px 0 25px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.footer-contact p {
  color: #fff;
}
.footer-links a {
  text-decoration: none;
}
.footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}
.footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}
.footer-top .social-links a {
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}
.footer-top .footer-links {
  margin-bottom: 30px;
}
.footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}
.footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}
.footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer-top .footer-links ul a {
  color: #eee;
}
.footer-top .footer-links ul a:hover {
  color: #f82249;
}
.footer-top .footer-contact {
  margin-bottom: 30px;
}
.footer-top .footer-contact p {
  line-height: 26px;
}
.footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}
#red-content-new::before {
  content: "";
  position: absolute;
  display: block;
  width: 290px;
  height: 2px;
  background: #f82249;
  bottom: 0;
  top: 40;
}
